body
{
display: flex;
flex-direction: column;
align-items: center;
padding: 120px 50px;

position: static;
width: 1440px;
height: 507px;
left: 0px;
top: 6954.36px;

background: #FFFFFF;


flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;

}
.main
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1032px;
height: 267px;
left: 204px;
top: 120px;




flex: none;
order: 0;
flex-grow: 0;
margin: 87px 0px;
}
.menu
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 186px;
height: 267px;
left: calc(50% - 186px/2);
top: calc(50% - 267px/2);




flex: none;
order: 0;
flex-grow: 0;
margin: 44px 0px;
}

.footermenu
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 186px;
height: 267px;
left: calc(50% - 186px/2);
top: calc(50% - 267px/2);




flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.list
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 115px;
height: 199px;
left: 0px;
top: 68px;




flex: none;
order: 1;
flex-grow: 0;
margin: 18px 127px;
}

.header
{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 0px;

position: static;
width: 63px;
height: 53px;
left: 0px;
top: 0px;



flex: none;
order: 0;
flex-grow: 0;
margin: 42px 0px;
}

.header h3
{
position: static;
left: 0%;
right: 0%;
top: 18.87%;
bottom: 18.87%;



font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 33px;

letter-spacing: 0.1px;



color: #000;



flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.link
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 115px;
height: 27px;
left: 0px;
top: 0px;




flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
}

.sublink
{
position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 10px;


letter-spacing: 0.2px;



color: #000;



flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 472px;
height: 247px;
left: 241px;
top: 10px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 55px;
}

@media all and (min-width: 1000px) {
    .menu {
      width: 40%;
    }
  } 
  
   @media all and (min-width: 1080px) {
    .menu {
      width: 30%;
    }
  } 

.screen
{
position: static;
width: 472px;
height: 300px;
left: 0px;
top: 0px;
/* background: url(.png); */
border-radius: 22px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 69px -83px;
}
@media all and (min-width: 1000px) {
    .screen {
      width: 40%;
    }
  } 
  
   @media all and (min-width: 1080px) {
    .screen {
      width: 30%;
    }
  } 


.footersocial {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	position: static;
	width: 316px;
	height: 262.99px;
	left: 465.72px;
	top: 150px;
	flex: none;
	order: 1;
	flex-grow: 0;
	/* margin: 0px 65px; */
	margin-top: 100px;
}
@media all and (min-width: 1000px) {
    .right {
      width: 40%;
    }
  } 
  
   @media all and (min-width: 1080px) {
    .right {
      width: 30%;
    }
  } 

.footersocialicons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	position: static;
	width: 255.96px;
	height: 60.99px;
	left: 0px;
	top: 202px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 31px -182px;
}

.footersocialmedia
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 170.96px;
height: 90px;
left: 10px;
top: 10px;




flex: none;
order: 0;
flex-grow: 0;
margin: -10px 8px;
}

.form-social-container {
	display: flex;
	flex-direction: row;
}


.social-icons {
	margin-right: 24px;
}


/* h5{
    color: #000;
	margin-left:55px;
	margin-top: -26px;
} */

.one
{
    

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;


    letter-spacing: 0.2px;



    color: #000;



    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left:46px;
	margin-top: -36px;
    /* margin: 0px 10px; */

}

.two
{
    /* color: #000;
	margin-left:55px;
	margin-top: -30px; */
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 26px;


    letter-spacing: 0.2px;



    color: #000;



    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left:46px;
	margin-top: -33px;
     /* margin: 0px 10px; */

}

.three
{

	
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;


    letter-spacing: 0.2px;



    color: #000;



    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left:46px;
	margin-top: -21px;
    /* margin: 0px 10px; */
}
    



